name: OrangeFox Stable Build (m14x)

# Credits to:
# https://github.com/TeamWin [attached_file:1]
# https://gitlab.com/OrangeFox 
# https://github.com/azwhikaru [attached_file:2] for Recovery Builder Template
# And all Contributors in every repositories I used

on:
  workflow_dispatch:
    inputs:
      MANIFEST_BRANCH:
        description: 'OrangeFox Stable Branch' 
        required: true
        default: '12.1'
        type: choice
        options:
        - 12.1  # Stable A12+ decryption
        - 11.3  # Latest stable R11.3
      DEVICE_TREE:
        description: 'Device Tree Repo'
        required: true
        default: 'https://github.com/nepntt9/android_device_samsung_m14x.git'
      DEVICE_TREE_BRANCH:
        description: 'Device Branch'  
        required: true
        default: 'android-12.1'
      DEVICE_PATH:
        description: 'Device Path'
        required: true
        default: 'device/samsung/m14x'
      DEVICE_NAME:
        description: 'Codename'
        required: true
        default: 'm14x'
      BUILD_TARGET:
        description: 'Build Target'
        required: true
        default: 'recovery'
        type: choice
        options:
        - recovery
        - boot
        - vendorboot

jobs:
  build:
    name: OFRP Stable by ${{ github.actor }}
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
              
    - name: Clean Workspace
      uses: rokibhasansagar/slimhub_actions@main

    - name: Add Swap (24GB)
      uses: pierotofy/set-swap-space@master
      with:
        swap-size-gb: 24
      
    - name: Setup Build Env
      run: |
        sudo apt update -qq
        sudo apt install -y aria2 git-lfs bc bison flex libssl-dev make ccache
        
    - name: Sync OrangeFox Stable
      run: |
        mkdir -p ~/OrangeFox
        cd ~/OrangeFox
        git clone https://gitlab.com/OrangeFox/sync.git -b master --depth=1
        cd sync
        ./orangefox_sync.sh --branch ${{ inputs.MANIFEST_BRANCH }} --path ~/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}

    - name: Clone Device Tree
      run: |
        cd ~/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}
        git clone ${{ inputs.DEVICE_TREE }} -b ${{ inputs.DEVICE_TREE_BRANCH }} ${{ inputs.DEVICE_PATH }}
        cd ${{ inputs.DEVICE_PATH }}
        echo "COMMIT_ID=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

    - name: Build OrangeFox
      run: |
        cd ~/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}
        export ALLOW_MISSING_DEPENDENCIES=true
        export LC_ALL=C
        source build/envsetup.sh
        lunch twrp_${{ inputs.DEVICE_NAME }}-eng
        make clean && mka ${{ inputs.BUILD_TARGET }}image -j$(nproc --all)

    - name: Set Properties
      run: |
        echo "BUILD_DATE=$(date +%Y%m%d-%H%M)" >> $GITHUB_ENV
        cd ~/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}
        echo "DEVICE_TREE_URL=${{ inputs.DEVICE_TREE }}/${{ inputs.DEVICE_TREE_BRANCH }}" >> $GITHUB_ENV

    - name: Upload Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ~/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}/out/target/product/${{ inputs.DEVICE_NAME }}/*.img
          ~/OrangeFox/fox_${{ inputs.MANIFEST_BRANCH }}/out/target/product/${{ inputs.DEVICE_NAME }}/*.zip
        name: OFRP ${{ inputs.MANIFEST_BRANCH }} - ${{ inputs.DEVICE_NAME }} (${{ env.BUILD_DATE }})
        tag_name: v${{ inputs.MANIFEST_BRANCH }}-${{ github.run_id }}
        body: |
          ## OrangeFox Stable Build
          
          **Build**: fox_${{ inputs.MANIFEST_BRANCH }} [attached_file:1]
          **Device**: [${{ inputs.DEVICE_NAME }}](${{ env.DEVICE_TREE_URL }})
          **Commit**: [`${{ env.COMMIT_ID }}`](${{ env.DEVICE_TREE_URL }}/commit/${{ env.COMMIT_ID }})
          
          **Assets**:
          - OrangeFox-R11.3_*-${{ inputs.DEVICE_NAME }}.img
          - OrangeFox-R11.3_*-${{ inputs.DEVICE_NAME }}.zip [web:30]
